{% extends 'base.html.twig' %}

{% block content %}
    <div id="banner"><img src="{{ asset('assets/images/market-stall.jpg') }}" /></div>

    <div id="explanation">
        <div>
            <i class="fa fa-table" aria-hidden="true"></i>
            <p>{{ 'homepage.create.menu'|trans }}</p>
        </div>

        <div>
            <i class="fa fa-edit" aria-hidden="true"></i>
            <p>{{ 'homepage.edit.shoppingList'|trans }}</p>
        </div>

        <div>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <p>{{ 'homepage.free_mind'|trans }}</p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="sass" "assets/css/index.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
