<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Menu{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
        {% stylesheets filter="sass" "assets/css/global.scss" %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="body">
            <div id="header-nav">
                <div id="header-user">
                    <ul>
                        {% if not app.user %}<li><a href="{{ path('fos_user_security_login') }}">{{ 'user.login'|trans }}</a></li>
                        {% else %}<li><a href="{{ path('fos_user_security_logout') }}">{{ 'user.logout'|trans }}</a></li>{% endif %}
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'user.registration'|trans }}</a></li>
                    </ul>
                </div>
                {% block header %}
                    {{ include('header.html.twig') }}
                {% endblock header %}

                {% block nav %}
                    {{ include('nav.html.twig') }}
                {% endblock nav %}
            </div>

            <div id="content">
                {{ include('flash-message.html.twig') }}
                {% block content %}{% endblock %}
            </div>

            {% block footer %}
            {% endblock footer %}
        </div>
        {% javascripts
        'assets/vendor/jquery/dist/jquery.min.js'
        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        {% endblock %}
    </body>
</html>
