<nav>
    <ul>
        <li><a href="{{ path('homepage') }}"><i class="fa fa-home" aria-hidden="true"></i>{{ 'menu.homepage.label'|trans }}</a></li>
        <li><a href="{{ path('app_menu_index') }}"><i class="fa fa-table" aria-hidden="true"></i>{{ 'menu.menus.label'|trans }}</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>{{ 'menu.shopping.label'|trans }}</a></li>
    </ul>
</nav>