{% extends 'base.html.twig' %}

{% block content %}
    <div id="actions">
        <a href="{{ path('app_menu_add') }}" class="btn">{{ 'menu.add'|trans }}</a>
    </div>

    <ul>

    {% for menu in pagination %}
        {% set from = menu.dateStart|localizeddate('full', 'none') %}
        {% set to = menu.dateEnd|localizeddate('full', 'none') %}
        <li>
            <a href="{{ path('app_menu_view', {'id': menu.id}) }}">{{ 'menu.from_to'|trans({'%from%': from, '%to%': to})|raw }}</a>
            <a href="{{ path('app_menu_edit', {'id': menu.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
{% endblock %}