{% extends 'base.html.twig' %}

{% block content %}

    <p class="center">
        <a href="{{ path('app_shoppinglist_add', {'id': menu.id}) }}" class="btn">{{ 'shoppingList.ingredient.add'|trans }}</a>
        <a href="{{ path('app_shoppinglist_generate', {'id': menu.id}) }}" class="btn">{{ 'shoppingList.generate'|trans }}</a>
        <a href="{{ path('app_menu_view', {'id': menu.id}) }}" class="btn">{{ 'menu.view'|trans }}</a>
    </p>

    {% if menu.shoppingListIngredients is empty %}
        <p class="flash-message flash-success">{{ 'shoppingList.empty.explanation'|trans }}</p>
        <p class="flash-message flash-error">{{ 'shoppingList.empty.warning'|trans }}</p>
        <p class="center">
            <a href="{{ path('app_shoppinglist_generate', {'id': menu.id}) }}" class="btn">{{ 'shoppingList.generate'|trans }}</a>
        </p>
    {% else %}
        <ul id="shopping-list" data-menu="{{ menu.id }}">
        {% for ingredient in menu.shoppingListIngredients %}
            {% set flashType = (ingredient.isInCart) ? 'success' : 'error' %}
            <li class="ingredient flash-message flash-{{ flashType }}" data-name="{{ ingredient.ingredientName }}" data-id="{{ ingredient.id }}">
                <a href="#">
                    <span class="name">{{ ingredient.ingredientName }}</span><span class="quantity">{{ ingredient.amount }} {{ ingredient.measureUnit }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="sass"
    "assets/css/shopping-list/view_shoppingList.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/shoppingList/cart_products.js') }}"></script>
{% endblock javascripts %}