{% extends 'base.html.twig' %}

{% block content %}

    <p class="center">
        <a href="{{ path('app_shoppinglist_addproduct', {'id': menu.id}) }}" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'shoppingList.ingredient.add_product'|trans }}</a>
        <a href="{{ path('app_shoppinglist_edit', {'id': menu.id}) }}" class="btn"><i class="fa fa-edit" aria-hidden="true"></i> {{ 'shoppingList.ingredient.edit'|trans }}</a>
        <a href="{{ path('app_shoppinglist_generate', {'id': menu.id}) }}" class="btn"><i class="fa fa-refresh" aria-hidden="true"></i> {{ 'shoppingList.generate'|trans }}</a>
        <a href="{{ path('app_menu_view', {'id': menu.id}) }}" class="btn"><i class="fa fa-bars" aria-hidden="true"></i> {{ 'menu.view'|trans }}</a>
    </p>

    {% if menu.shoppingListIngredients is empty %}
        <p class="flash-message flash-success">{{ 'shoppingList.empty.explanation'|trans }}</p>
        <p class="flash-message flash-error">{{ 'shoppingList.empty.warning'|trans }}</p>
        <p class="center">
            <a href="{{ path('app_shoppinglist_generate', {'id': menu.id}) }}" class="btn">{{ 'shoppingList.generate'|trans }}</a>
        </p>
    {% else %}

    <div id="cart">
        <div id="not-in-cart">
            <h2>{{ 'shoppingList.product.not_in_cart.title'|trans }}</h2>
            {% include('app/shoppingList/view_list.html.twig') %}
        </div>

        <div id="in-cart">
            <h2>{{ 'shoppingList.product.in_cart.title'|trans }}</h2>
            {% include('app/shoppingList/view_list.html.twig') %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="sass"
    "assets/css/shopping-list/view_shoppingList.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/shoppingList/cart_products.js') }}"></script>
{% endblock javascripts %}