{% extends 'base.html.twig' %}

{% block content %}

    <h1>{{ 'recipe.add.h1'|trans }}</h1>

    {{ form_start(recipeForm) }}
        <div class="form-medium">
            <div>
                {{ form_label(recipeForm.ingredients) }}
                {{ form_widget(recipeForm.ingredients) }}
                {{ form_errors(recipeForm.ingredients) }}
            </div>

            <div>
                {{ form_label(recipeForm.name) }}
                {{ form_widget(recipeForm.name) }}
                {{ form_errors(recipeForm.name) }}
            </div>

            <div>
                {{ form_label(recipeForm.preparationTime) }}
                {{ form_widget(recipeForm.preparationTime) }}
                {{ form_errors(recipeForm.preparationTime) }}
            </div>

            <div>
                {{ form_label(recipeForm.cookingTime) }}
                {{ form_widget(recipeForm.cookingTime) }}
                {{ form_errors(recipeForm.cookingTime) }}
            </div>

            <div>
                {{ form_label(recipeForm.breakTime) }}
                {{ form_widget(recipeForm.breakTime) }}
                {{ form_errors(recipeForm.breakTime) }}
            </div>

            <div>
                {{ form_label(recipeForm.eaters) }}
                {{ form_widget(recipeForm.eaters) }}
                {{ form_errors(recipeForm.eaters) }}
            </div>

            <div>
                {{ form_label(recipeForm.instructions) }}
                {{ form_widget(recipeForm.instructions) }}
                {{ form_errors(recipeForm.instructions) }}
            </div>

            <div>
                <input type="submit" id="_submit" name="_submit" value="{{ 'recipe.form.submit'|trans }}" />
            </div>
        </div>
    {{ form_end(recipeForm) }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="sass" "assets/css/form.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('select').select2();
    </script>
{% endblock javascripts %}
