{% extends 'base.html.twig' %}

{% if recipe.id is null %}
    {% set titleH1 = 'recipe.add.h1'|trans %}
    {% set submitValue = 'recipe.form.submit.add' %}
{% else %}
    {% set titleH1 = recipe.name %}
    {% set submitValue = 'recipe.form.submit.edit' %}
{% endif %}

{% block content %}
    <h1>{{ titleH1 }}</h1>

    <div id="add-ingredient">
        <div id="ingredient-button">
            <a href="#" class="btn">{{ 'ingredient.create.new'|trans }}</a>
        </div>

        <div id="ingredient-form" class="hidden">
            {{ form_start(ingredientForm, {'attr': {'id': 'ingredient_form'} }) }}
                {{ form_row(ingredientForm.name) }}
                <input type="submit" class="btn" value="{{ 'ingredient.create.new'|trans }}" />
            {{ form_end(ingredientForm) }}
        </div>

        <p id="add-ingredient-message"></p>
    </div>

    {{ form_start(recipeForm) }}
        {{ form_errors(recipeForm) }}

        <div id="add-recipe">
            <div id="fields-recipe">
                <div>
                    {{ form_label(recipeForm.name) }}
                    {{ form_widget(recipeForm.name) }}
                    {{ form_errors(recipeForm.name) }}
                </div>

                <div>
                    {{ form_label(recipeForm.preparationTime) }}
                    {{ form_widget(recipeForm.preparationTime) }}
                    {{ form_errors(recipeForm.preparationTime) }}
                </div>

                <div>
                    {{ form_label(recipeForm.cookingTime) }}
                    {{ form_widget(recipeForm.cookingTime) }}
                    {{ form_errors(recipeForm.cookingTime) }}
                </div>

                <div>
                    {{ form_label(recipeForm.breakTime) }}
                    {{ form_widget(recipeForm.breakTime) }}
                    {{ form_errors(recipeForm.breakTime) }}
                </div>

                <div>
                    {{ form_label(recipeForm.eaters) }}
                    {{ form_widget(recipeForm.eaters) }}
                    {{ form_errors(recipeForm.eaters) }}
                </div>

                <div>
                    {{ form_label(recipeForm.instructions) }}
                    {{ form_widget(recipeForm.instructions) }}
                    {{ form_errors(recipeForm.instructions) }}
                </div>
            </div>

            <div id="list-ingredients">
                <div>
                    {{ form_label(recipeForm.ingredients) }}
                    {{ form_widget(recipeForm.ingredients) }}
                    {{ form_errors(recipeForm.ingredients) }}
                </div>

                <div id="added-ingredients">
                    {% for recipeIngredient in recipeForm.vars.value.ingredients %}
                        <div id="ingredient_{{ recipeIngredient.ingredient.id }}" class="recipe-has-ingredient" data-ingredient-id="{{ recipeIngredient.ingredient.id }}" data-ingredient-name="{{ recipeIngredient.name }}">
                            <input title="{{ 'ingredient'|trans }}" type="text" class="name" name="ingredient[{{ recipeIngredient.ingredient.id }}][name]" value="{{ recipeIngredient.name }}" disabled />
                            <input title="{{ 'amount'|trans }}" type="number" step="0.5" required="required" class="amount" name="ingredient[{{ recipeIngredient.ingredient.id }}][amount]" value="{{ recipeIngredient.amount }}" placeholder="{{ 'amount'|trans }}" min="0" />
                            <input title="{{ 'measureUnit'|trans }}" class="measure-unit" name="ingredient[{{ recipeIngredient.ingredient.id }}][measureUnit]" value="{{ recipeIngredient.measureUnit }}"  placeholder="{{ 'measureUnit'|trans }}" />
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="center">
            <input type="submit" id="_submit" name="_submit" value="{{ submitValue|trans }}" />
            {% if recipe.id is not null %}<a href="{{ path('app_recipe_view', {'slug': recipe.slug}) }}" class="btn">{{ 'recipe.return'|trans }}</a>{% endif %}
        </div>
    {{ form_end(recipeForm) }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="sass"
        "assets/css/form.scss"
        "assets/css/recipe/add_recipe.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/recipe/add_ingredient.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('select').select2();
        });
    </script>
{% endblock javascripts %}
