{% extends 'base.html.twig' %}

{% block content %}
    <div id="actions">
        <a href="{{ path('app_recipe_add') }}" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'recipe.add'|trans }}</a>
        <a href="{{ path('app_ingredient_add') }}" class="btn"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'ingredient.add'|trans }}</a>
    </div>

    <ul id="recipe-list">
    {% for recipe in pagination %}
        <li>
            <a href="{{ path('app_recipe_view', {'slug': recipe.slug}) }}">
                <span class="recipe-title">{{ recipe.name }}</span>
                <span class="recipe-author">proposée par {{ recipe.user.username }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="sass"
    "assets/css/recipe/list.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
